.upload-area {
    border: 1px solid #ccc;
    padding: 5px;
    transition: border-color 0.3s ease;
}

.upload-area:hover {
    border-color: #add8e6;
}

.upload-area .icon {
    width: 20px;
    height: 20px;
}

.upload-area label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .upload-area {
        padding: 3px;
    }
    .upload-area .icon {
        width: 16px;
        height: 16px;
    }
}